.stores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(361px, 1fr));
    grid-gap: 1rem;
    margin: 2rem auto;
    max-width: 1280px;
    padding: 1rem;
}

.more-deals {
    display: block;
    color: var(--primary-text-color);
    text-align: center;
}

.more-deals a {
    text-decoration: underline;
}