:root {
    /* Primary: Blue Copper Ore */
    --primary-100: hsl(272, 100%, 97%);
    --primary-200: hsl(269, 97%, 86%);
    --primary-300: hsl(265, 93%, 74%);
    --primary-400: hsl(262, 84%, 60%);
    --primary-500: hsl(258, 89%, 45%);
    --primary-600: hsl(255, 95%, 35%);
    --primary-700: hsl(251, 98%, 25%);
    --primary-800: hsl(247, 100%, 16%);
    --primary-900: hsl(245, 100%, 7%);

    /* Accent: Wild Caribbean Green */
    --accent-100: hsl(180, 100%, 97%);
    --accent-200: hsl(179, 97%, 87%);
    --accent-300: hsl(175, 89%, 75%);
    --accent-400: hsl(172, 77%, 61%);
    --accent-500: hsl(168, 76%, 45%);
    --accent-600: hsl(165, 89%, 33%);
    --accent-700: hsl(161, 97%, 24%);
    --accent-800: hsl(157, 100%, 15%);
    --accent-900: hsl(155, 100%, 7%);

    /* Neutral */
    --neutral-100: hsl(270, 25%, 98%);
    --neutral-200: hsl(270, 9%, 91%);
    --neutral-300: hsl(266, 9%, 84%);
    --neutral-400: hsl(263, 7%, 77%);
    --neutral-500: hsl(258, 7%, 70%);
    --neutral-600: hsl(253, 4%, 56%);
    --neutral-700: hsl(248, 4%, 42%);
    --neutral-800: hsl(249, 5%, 28%);
    --neutral-900: hsl(255, 6%, 14%);

    --primary-color: hsl(226 15% 23%);
    --secondary-color: hsl(225 8% 41%);
    --tertiary-color: hsl(0 0% 97%);
    --accent-color: hsl(198 100% 79%);
    --primary-text-color: hsl(0 0% 100%);
    --secondary-text-color: hsl(0 0% 0%);
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins';
}
